body {
	margin: 0;
	padding: 0;
	// font-family: Inter;
	font-family: Montserrat;
	background: #010001;
	color: #ffffff;
	background-image: url('../img/bg.png');
    background-repeat: repeat;
    background-size: inherit;
}

.container {
	max-width: 1640px;
	// width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.container-fluid {
	width: calc(100% - 30px);
	padding: 0 15px;
	margin: 0 auto;
}

.d-center-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	border-radius: 35px;
	text-align: center;
	padding: 14px 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: uppercase;
	width: fit-content;
	transition: 0.3s;
	white-space: nowrap;
	svg {
		height: 15px;
		width: 15px;
		margin-right: 10px;
		path {
			transition: 0.3s;
		}
	}
	&.btn-white {
		color: #252525;
		background: #ffffff;
		border: 1px solid #ffffff;
		&:hover {
			color: #ffffff;
			background: #010001;
			border: 1px solid #ffffff;
			svg {
				path {
					fill: #ffffff;
				}
			}
		}
	}
	&.btn-dark {
		color: #ffffff;
		background: #1F1F1F;
		border: 1px solid #242424;
		&:hover {
			color: #1F1F1F;
			background: #ffffff;
			border: 1px solid #ffffff;
			svg {
				path {
					fill: #1F1F1F;
				}
			}
		}
	}
}

p, li {
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	color: #ffffff;
}

a {
	text-decoration: none;
	font-size: inherit;
	color: #ffffff;
}

video {
	pointer-events: none;
}

.thumb {
	position: relative;
	img {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center;
	}
	&:before {
		content:'';
		display: block;
		padding-bottom: 75%;
	}
}

.heading-1 {
	font-style: normal;
	font-weight: 600;
	font-size: 72px;
	line-height: 72px;
	letter-spacing: -0.02em;
	color: #101828;
	span {
		color: #F99DAE;
	}
}

.heading-2 {
	font-style: normal;
	font-weight: 600;
	font-size: 64px;
	line-height: 72px;
	letter-spacing: -0.02em;
	color: #101828;
	span {
		color: #F99DAE;
	}
}

.heading-3 {
	font-style: normal;
	font-weight: bold;
	font-size: 45px;
	line-height: 100%;
	color: #4B2D3A;
	span {
		color: #D87756;
	}
}

.heading-4 {
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	line-height: 100%;
	color: #4B2D3A;
	span {
		color: #D87756;
	}
}

.heading-5 {
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	line-height: 100%;
	color: #4B2D3A;
	span {
		color: #D87756;
	}
}

.heading-6 {
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 28px;
	color: #101828;
}

header {
	position: sticky;
	left: 0;
	right: 0;
	top: 0;  
	z-index: 99;
	border-bottom: 1px solid #222;
	background: #0A0A0A;
	padding: 20px 0;
	transition: 2s;
	.container {
		display: flex;
		align-items: center;
		position: relative;
		.logo {
			img {
				width: 190px;
			}
		}
		.menu {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		ul {
			display: flex;
			align-items: center;
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				a {
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					opacity: 0.7;
					transition: 0.3s;
					&:hover {
						opacity: 1;
					}
				}
				&.active {
					a {
						opacity: 1;
					}
				}
			}
			&.nav {
				li {
					margin: 0 25px;
				}
			}
			&.languages {
				margin-left: auto;
				margin-right: 55px;
				li {
					&:after {
						content: '—';
						margin: 0 5px;
						color: #ffffff;
						// color: #777777;
						opacity: 0.7;
					}
					a {
						// color: #777777;
						opacity: 0.7;
						transition: 0.3s;
						&:hover {
							opacity: 1;
						}
					}
					&.active {
						a {
							opacity: 1;
						}
					}
					&:last-child {
						&:after {
							display: none;
						}
					}
				}
			}
		}
		.btn-one {
			margin-left: auto;
			padding: 20px 120px;
		}
	}
}

.section-home {
	.video-wrapper {
		margin-top: 50px;
		// padding: 0;
		position: relative;
		video {
			width: 100%;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}
	.marquee-wrapper {
		width: 100%;
		overflow: hidden;
		margin-top: 55px;
		margin-bottom: 85px;	
		.marquee {
			color: #FFF;
			font-family: Neutral Face;
			font-size: 100px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			white-space: nowrap;
			animation: marquee 15s linear infinite;
		}
	}
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-150%);
  }
}

.section-home-2 {
	.container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-wrap: wrap;
		hr {
			margin: 0;
			margin-bottom: 75px;
			height: 1px;
			width: 100%;
			background: #4D4D4D;
			border: none;
		}
		.heading {
			font-family: Neutral Face;
			font-size: 15px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;
			padding: 8px 15px;
			border-radius: 15px;
			border: 1px solid #4D4D4D;
			background: #1F1F1F;
			white-space: nowrap;
			width: fit-content;
		}
		.text {
			max-width: 800px;
			font-family: Neutral Face;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
			text-transform: uppercase;
		}
	}
	.video-wrapper {
		margin-top: 100px;
		position: relative;
		video {
			height: 650px;
			width: 100%;
			object-fit: cover;
		}
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
			bottom: 0;
		}
	}
}

.section-services {
	margin-top: 125px;
	margin-bottom: 125px;
	.heading {
		font-family: Neutral Face;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
		padding: 8px 15px;
		border-radius: 15px;
		border: 1px solid #4D4D4D;
		background: #1F1F1F;
		white-space: nowrap;
		width: fit-content;
	}
	.services-list {
		margin-top: 50px;
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		.services-item {
			width: calc(33.3% - 129px);
			border-radius: 41px;
			border: 1px solid #414141;
			padding: 50px;
			transition: 0.3s;
			position: relative;
			.video-icon {
				position: absolute;
				top: 40px;
				right: 40px;
				transform: scale(0.8);
				transition: 1s;
				pointer-events: none;
				video {
					height: 127px;
					width: 127px;
					object-fit: cover;
					object-position: center;
					pointer-events: none;
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
				}
			}
			.title {
				margin: 65px 0 25px;
				margin-right: 120px;
				font-size: 35px;
				font-style: normal;
				font-weight: 400;
				line-height: 100%;
			}
			.content {
				margin: 0;
				font-family: Montserrat;
			}
			&:hover {
				border: 1px solid #ffffff;
				.video-icon {
					transform: scale(1);
				}
			}
		}
	}
}

.section-portfolio {
	.heading {
		font-family: Neutral Face;
		font-size: 15px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
		padding: 8px 15px;
		border-radius: 15px;
		border: 1px solid #4D4D4D;
		background: #1F1F1F;
		white-space: nowrap;
		width: fit-content;
	}
	.heading {
		margin-bottom: 35px;
	}
	.portfolio-title {
		margin-top: 70px;
		margin-bottom: 60px;
		display: flex;
		align-items: flex-end;
		.heading {
			margin: 0;
			padding: 0;
			border: none;
			background: none;
			font-size: 100px;
			position: relative;
			display: flex;
			align-items: flex-start;
			.count {
				font-size: 30px;
				margin-left: 30px;
				margin-top: 25px;
			}
		}
		p {
			max-width: 380px;
			font-size: 16px;
			margin-left: auto;
			display: none;
		}
	}
	.portfolio-list {
		display: flex;
		flex-wrap: wrap;
		gap: 40px;
		margin-bottom: 70px;
		.portfolio-item {
			width: calc(33.3% - 27px);
			.thumb-wrapper {
				border-radius: 25px;
				overflow: hidden;
				margin-bottom: 35px;
				position: relative;
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					height: 100%;
					width: 100%;
					object-fit: cover;
					object-position: center;
					transition: 0.8s;
					&:first-child {
						z-index: 0;
					}
					&:last-child {
						width: 70%;
						top: 100%;
						left: 50%;
						bottom: auto;
						transform: translateX(-50%)scale(0.6);
						z-index: 2;
					}
				}
				&:before {
					content: '';
					display: block;
					padding-bottom: 100%;
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background: rgba(0, 0, 0, 0);
					z-index: 1;
					transition: 0.8s;
				}
				&:hover {
					img {
						&:first-child {
							transform: scale(1.2);
						}
						&:last-child {
							top: 80px;
							transform: translateX(-50%)scale(1);
						}
					}
					&:after {
						background: rgba(0, 0, 0, 0.75);
					}
				}
			}
			.title {
				margin: 0;
				margin-bottom: 14px;
				font-family: Neutral Face;
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 100.023%;
				text-transform: uppercase;
			}
			.category {
				margin: 0;
				font-size: 17px;
				font-style: normal;
				font-weight: 400;
				line-height: 140.023%;
			}
		}
		.showmore-wrapper {
			width: 100%;
			position: relative;
			display: flex;
			align-items: center;
			margin-top: 70px;
			.showmore {
				margin: 0 auto;
				padding-left: 63px;
				padding-right: 63px;
			}
			&:before,
			&:after {
				// content: '';
				display: block;
				background: #4D4D4D;
				height: 1px;
				width: 40%;
			}
		}
	}
}

.section-portfolio-single {
	.banner {
		margin-bottom: 60px;
		img {
			height: 700px;
			width: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
	.container {
		.portfolio-title {
			margin: 0;
			margin-bottom: 30px;
			font-family: Neutral Face;
			font-size: 100px;
			font-style: normal;
			font-weight: 400;
			line-height: 135%;
			text-transform: uppercase;
		}
		.portfolio-desc-wrapper {
			border-top: 1px solid #404040;
			border-bottom: 1px solid #404040;
			display: flex;
			flex-wrap: wrap;
			gap: 40px;
			padding: 45px 0;
			margin-bottom: 50px;
			.block {
				width: calc(50% - 20px);
				.title {
					color: #7D7D7D;
					font-size: 20px;
					text-transform: uppercase;
					margin: 0;
					margin-bottom: 24px;
				}
				.content {
					margin: 0;
				}
				.tags {
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					list-style-type: none;
					gap: 20px;
					padding: 0;
					li {
						padding: 9px 40px;
						white-space: nowrap;
						border-radius: 25px;
						border: 1px solid #404040;
						text-transform: uppercase;
					}
				}
			}
		}
		.portfolio-slider {
			margin-bottom: 100px;
			.slide {
				img {
					width: 100%;
					object-fit: cover;
				}
			}
		}
		.portfolio-preview {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			.thumb {
				position: relative;
				z-index: 0;
				width: 100%;
				img {
					border-radius: 12px;
					object-position: top;
				}
				&:before {
					padding-bottom: 50%;
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					left: 0;
					bottom: 0;
					background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
					z-index: 1;
					border-radius: 12px;
				}
			}
			.project-preview-trigger {
				position: absolute;
				background: #141414;
				border: none;
				height: 310px;
				width: 310px;
				border-radius: 50%;
				font-size: 22px;
				font-weight: 400;
				line-height: 150%;
				text-transform: uppercase;
				color: #ffffff;
				display: flex;
				align-items: center;
				justify-content: center;
				z-index: 2;
				cursor: pointer;
				transition: 0.3s;
				svg {
					margin-top: -50px;
					margin-left: -20px;
				}
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}

.telegram-button,
.call-button {
	height: 60px;
	width: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	position: absolute;
	right: 15px;
	transition: 0.3s;
	svg {
		height: 60%;
		width: 60%;
	}
}

.telegram-button {
	top: 75vh;
	background: #4F9EE6;
}

.call-button {
	top: calc(75vh + 75px);
	background: #3EE158;
	animation-name: trin;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes trin {
	from {
		transform:rotate3d(0, 0, 1, 0deg);
	}
	20%, 32%, 44%, 56%, 68% {
		transform: rotate3d(0, 0, 1, 0deg);
	}
	23%, 35%, 47%, 59%, 71% {
		transform: rotate3d(0,0,1,15deg);
	}
	26%, 38%, 50%, 62%, 74% {
		transform: rotate3d(0,0,1,0deg);
	}
	29%, 41%, 53%, 65%, 77% {
		transform: rotate3d(0,0,1,-15deg);
	}
	80% {
		transform:rotate3d(0, 0, 1, 0deg);
	}
}

.section-popup-preview {
	position: fixed;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	// opacity: 0;
	transition: 1s;
	transition-delay: 0.3s;
	transform: translateY(-100%);
	background: rgb(0 0 0 / 60%);
	.section-popup-preview-slider {
		.slick-arrow {
			position: fixed;
			top: calc(100vh - 100px);
			z-index: 1;
			height: 60px;
			width: 60px;
			border: none;
			background: #141414;
			border-radius: 50%;
			font-size: 0;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0.5;
			transition: 0.3s;
			&:before {
				content: '';
				display: block;
				height: 60%;
				width: 60%;
				background-image: url('../img/icons/arrow.svg');
				background-size: contain;
				background-position: center;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&.slick-prev {
				left: calc(50vw - 100px);
				&:before {
					transform: translate(-50%, -50%)rotate(90deg);
				}
			}
			&.slick-next {
				right: calc(50vw - 100px);
				&:before {
					transform: translate(-50%, -50%)rotate(-90deg);
				}
			}
			&:hover {
				opacity: 1;
			}
		}
		.slide {
			height: 100vh;
			overflow: auto;
			img {
				max-width: 1920px;
				width: 100%;
				margin: 0 auto;
			}
		}
	}
	.close {
		position: fixed;
		top: 40px;
		right: 40px;
		z-index: 1;
		height: 60px;
		width: 60px;
		border: none;
		background: #141414;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		opacity: 0.5;
		transition: 0.3s;
		&:before,
		&:after {
			content: '';
			display: block;
			height: 2px;
			width: 60%;
			position: absolute;
			transform: rotate(45deg);
			background: #ffffff;
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:hover {
			opacity: 1;
		}
	}
}

.project-preview-popup {
	overflow: hidden;
	position: relative;
	header {
		top: -100%;
	}
	.telegram-button,
	.call-button {
		opacity: 0;
	}
	.section-portfolio-single {
		.portfolio-preview {
			position: static;
			.project-preview-trigger {
				position: fixed;
				top: 0;
				height: 100vh;
				width: 100vw;
				border-radius: 0;
				transition: 1s;
			}
		}
	}
	.section-popup-preview {
		opacity: 1;
		transform: translateY(0)scale(1);
	}
}

footer {
	margin-top: 125px;
	.top {
		border-top: 1px solid #4D4D4D;
		border-bottom: 1px solid #4D4D4D;
		background: #0A0A0A;
		padding-top: 75px;
		padding-bottom: 75px;
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			.nav {
				ul {
					margin: 0;
					padding: 0;
					list-style-type: none;
					li {
						margin-bottom: 35px;
						a {
							font-family: Montserrat;
							font-size: 16px;
							font-style: normal;
							font-weight: 500;
							line-height: normal;
							text-transform: uppercase;
							opacity: 0.7;
							transition: 0.3s;
							&:hover {
								opacity: 1;
							}
						}
						&:last-child {
							margin: 0;
						}
					}
				}
			}
			.contacts-wrapper {
				display: flex;
				align-items: center;
				width: -webkit-fill-available;
				.contacts {
					margin: 0 auto;
					width: min-content;
					a {
						font-size: 60px;
						font-style: normal;
						font-weight: 400;
						line-height: normal;
						text-transform: uppercase;
						&.phone {
							text-decoration-line: underline;
						}
					}
				}
				.socials {
					a {
						margin-bottom: 20px;
						padding: 11px 65px;
						width: auto;
						text-align: left;
						justify-content: flex-start;
						font-family: Neutral Face;
						font-weight: 400;
						svg {
							height: 24px;
							width: 24px;
						}
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
	.bottom {
		.container {
			display: flex;
			align-items: center;
			justify-content: space-between;
			height: 80px;
			position: relative;
			p {
				font-family: Neutral Face;
				font-size: 14px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				text-transform: uppercase;
				&:nth-child(2) {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
}